@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E7CCCC;


}

.container{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    max-width: 1350px;
    background: #E7CCCC;
    height: 430px;
    
    
}


section{
    background: #EDE8DC;
    border-radius: 7px;
}

.drawing-board{
    flex: 1;
}

.tools-board{

    width: 210px;
    padding: 15px 22px 0;
    background: #EDE8DC;
    border-radius: 7px;
    
}
